In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('./data/youtube.csv',index_col = 0)
data.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [3]:
df = data.copy()
df.head(5)

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [4]:
print(df.shape)

(60399, 9)

In [5]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60399 entries, 0 to 60398
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           60399 non-null  object
 1   channelTitle    60399 non-null  object
 2   categoryId      60399 non-null  int64
 3   view_count      60399 non-null  int64
 4   likes           60399 non-null  int64
 5   dislikes        60399 non-null  int64
 6   comment_count   60399 non-null  int64
 7   channelId       60399 non-null  object
 8   trending_date2  60399 non-null  object
dtypes: int64(5), object(4)
memory usage: 4.6+ MB
None

In [6]:
print(df.columns)

Index(['title', 'channelTitle', 'categoryId', 'view_count', 'likes',
       'dislikes', 'comment_count', 'channelId', 'trending_date2'],
      dtype='object')

#### Question 1
영상 업로드 횟수가 상위 10개 채널 출력

In [7]:
top10 = df['channelTitle'].value_counts().head(10).index.to_list()
print(top10)

['짤툰', '파뿌리', 'SPOTV', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', '장삐쭈', 'BANGTANTV', '채널 십오야', '이과장', '총몇명']

In [8]:
# 인덱스를 list로 만드는 방법을 모른다면 값을 구한 다음 꼼수로...
# top10 = df['channelTitle'].value_counts().head(10).index
#top10
#print(['짤툰', '파뿌리', 'SPOTV', '런닝맨 - 스브스 공식 채널', '엠뚜루마뚜루 : MBC 공식 종합 채널', '장삐쭈',
       #'BANGTANTV', '채널 십오야', '이과장', '총몇명'])

#### Question 2
dislikes수가 likes 수보다 높은 동영상을 제작한 채널을 모두 출력

In [9]:
temp = df[['channelTitle','likes','dislikes']]
temp = temp[temp['likes']<temp['dislikes']]
temp # channelTitle 유니크값 필요

        channelTitle  likes  dislikes
1805           핫도그TV  16339     26315
2008           핫도그TV  16728     30201
2233           핫도그TV  16905     32073
2452           핫도그TV  17005     32919
2680           핫도그TV  17104     33429
...              ...    ...       ...
52344  Gen.G esports    774      1063
52551  Gen.G esports    889      1116
52554  Gen.G esports    781      1071
52772  Gen.G esports    902      1148
52776  Gen.G esports    788      1087

[143 rows x 3 columns]

In [10]:
dis = list(df[df['likes']<df['dislikes']].channelTitle.unique())
print(dis)

['핫도그TV', 'ASMR 애정TV', '하얀트리HayanTree', '양팡 YangPang', '철구형 (CHULTUBE)', '왜냐맨하우스', '(MUTUBE)와꾸대장봉준', '오메킴TV', '육지담', 'MapleStory_KR', 'ROAD FIGHTING CHAMPIONSHIP', '사나이 김기훈', '나혼자산다 STUDIO', 'Gen.G esports']

#### Question 3
채널명을 변경한 채널의 갯수 출력

In [11]:
# channelId가 고유값이므로 channelTitle 갯수와 차이가 있음을 확인 
# channelId value_counts가 2회 이상이면 채널명 변경
print(len(df['channelTitle'].unique()))
print(len(df['channelId'].unique()))

#중복을 제거하고 개수확인
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
change.head() # 3회, 2회 변경 기록 확인 가능
print(len(change[change>1])) #1번 초과 변경

1832
1770
71

#### Question 4
일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId) 출력

In [12]:
#trending_date2 날짜형식으로 변경
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
sunday = df[df['trending_date2'].dt.day_name() == 'Sunday'].categoryId.value_counts().index[0] #첫번째 index
print(sunday)

24

#### Question 5
각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라

In [13]:
group = df.groupby([df['trending_date2'].dt.day_name(),'categoryId'],as_index=False).size() #as_index, group하면 그룹 라벨이 인덱스가 되므로 사용하지 않으려면 Flase로 설정 
group.pivot(index='categoryId',columns ='trending_date2')

                 size
trending_date2 Friday Monday Saturday Sunday Thursday Tuesday Wednesday
categoryId
1                 243    263      255    274      246     257       234
2                 120    105      119     99      128     119       129
10                833    837      776    830      890     894       917
15                187    215      198    217      207     208       207
17                633    668      592    636      682     708       706
19                 90     92       87     91       92      89        85
20                283    298      296    289      282     285       291
22               1288   1373     1289   1337     1341    1375      1333
23                568    594      570    556      560     569       566
24               2976   3148     3066   3096     2954    3084      3090
25                444    453      422    437      470     452       468
26                369    378      364    363      375     394       385
27                183    205      183    199      194     194       212
28                171    160      173    167      166     161       165
29                 12     10       10      9       13      11        12

#### Question 6-1 기출응용
- view_counts 별 상위 10개 데이터 구하기

In [58]:
# BTS의 인기를 확인할 수 있다.
temp = df[['title','channelTitle','view_count','likes','dislikes','comment_count']]
temp.head()
view = temp.sort_values('view_count',ascending=False)
view.head(10)

,title,channelTitle,view_count,likes,dislikes,comment_count
30583,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,296314174,16464253,181350,6939302
30383,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,292502967,16413537,178381,6913277
30174,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,289350312,16369715,175204,6889393
29964,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,285698612,16319755,172331,6864694
29729,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,282265069,16272565,168794,6845770
29523,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,278080610,16213755,165082,6817450
29323,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,274715791,16165343,161240,6798252
29113,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,270578092,16108549,157729,6772002
28883,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,267079678,16056673,153590,6754329
28661,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,264407389,16021549,150990,6738500

In [62]:
#title, channelTitle 중복값 제거해서 봐보자
view_top10 = view.drop_duplicates(['title','channelTitle'])
view_top10.head(10)

,title,channelTitle,view_count,likes,dislikes,comment_count
30583,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,296314174,16464253,181350,6939302
42984,BTS (방탄소년단) 'Permission to Dance' Official MV,HYBE LABELS,194795844,12767906,136328,2903747
54987,LISA - 'LALISA' M/V,BLACKPINK,192376395,12177724,151884,2498669
16795,ROSÉ - 'On The Ground' M/V,BLACKPINK,117461115,7508707,109304,1610298
36787,TWICE Alcohol-Free M/V,JYP Entertainment,104119672,2836480,70001,1070335
60384,aespa 에스파 'Savage' MV,SMTOWN,96074799,2149435,107477,360785
28998,aespa 에스파 'Next Level' MV,SMTOWN,84077957,1864247,70466,308754
28392,NCT DREAM 엔시티 드림 '맛 (Hot Sauce)' MV,SMTOWN,81767273,2532612,38228,894496
60252,Adele - Easy On Me (Official Video),AdeleVEVO,80056219,3619752,37200,202760
20592,BTS (방탄소년단) 'Film out' Official MV,HYBE LABELS,78893765,7137434,59360,2240915

#### Question 6-2 기출응용 
- 새로운 칼럼 'youtube_power'만들고 그 값을 view_count,likes,dislikes,comment_count의 평균으로 하고 상위 10개 title과 channelTitel 구하기

In [69]:
temp = view
view['youtube_power'] = (view['view_count']+view['likes']+view['dislikes']+view['comment_count'])/4
view.head()

,title,channelTitle,view_count,likes,dislikes,comment_count,youtube_power
30583,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,296314174,16464253,181350,6939302,79974769.75
30383,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,292502967,16413537,178381,6913277,79002040.50
30174,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,289350312,16369715,175204,6889393,78196156.00
29964,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,285698612,16319755,172331,6864694,77263848.00
29729,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,282265069,16272565,168794,6845770,76388049.50

In [71]:
youtube_power_top10 = view.drop_duplicates(['title','channelTitle'])
youtube_power_top10.head(10)

,title,channelTitle,view_count,likes,dislikes,comment_count,youtube_power
30583,BTS (방탄소년단) 'Butter' Official MV,HYBE LABELS,296314174,16464253,181350,6939302,79974769.75
42984,BTS (방탄소년단) 'Permission to Dance' Official MV,HYBE LABELS,194795844,12767906,136328,2903747,52650956.25
54987,LISA - 'LALISA' M/V,BLACKPINK,192376395,12177724,151884,2498669,51801168.00
16795,ROSÉ - 'On The Ground' M/V,BLACKPINK,117461115,7508707,109304,1610298,31672356.00
36787,TWICE Alcohol-Free M/V,JYP Entertainment,104119672,2836480,70001,1070335,27024122.00
60384,aespa 에스파 'Savage' MV,SMTOWN,96074799,2149435,107477,360785,24673124.00
28998,aespa 에스파 'Next Level' MV,SMTOWN,84077957,1864247,70466,308754,21580356.00
28392,NCT DREAM 엔시티 드림 '맛 (Hot Sauce)' MV,SMTOWN,81767273,2532612,38228,894496,21308152.25
60252,Adele - Easy On Me (Official Video),AdeleVEVO,80056219,3619752,37200,202760,20978982.75
20592,BTS (방탄소년단) 'Film out' Official MV,HYBE LABELS,78893765,7137434,59360,2240915,22082868.50