고객 3,500명에 대한 학습용 데이터를 이용하여 성별 예측 모형을 만든 후 평가용 데이터에 적용해 성별 예측값(남자일 확률0을 다음과 같은 형식의 csv파일로 생성하시오

1. 문제 읽고 어떤 모형 쓸지 판단하기
2. 데이터 불러오기
3. 데이터파악하기(결측치, object 데이터)
4. 전처리(불필요컬럼 제거, 결측치 제거, object 처리)

In [1]:
import pandas as pd
x_train = pd.read_csv('./book/x_train.csv',encoding= 'cp949')
y_train = pd.read_csv('./book/y_train.csv')
x_test = pd.read_csv('./book/x_test.csv',encoding='cp949')

In [2]:
print(x_train.head())
print('================================================')
print(y_train.head())
print('================================================')
print(x_test.head())

   cust_id      총구매액     최대구매액       환불금액   주구매상품 주구매지점  내점일수   내점당구매건수  \
0        0  68282840  11264000  6860000.0      기타   강남점    19  3.894737
1        1   2136000   2136000   300000.0     스포츠   잠실점     2  1.500000
2        2   3197000   1639000        NaN  남성 캐주얼   관악점     2  2.000000
3        3  16077620   4935000        NaN      기타   광주점    18  2.444444
4        4  29050000  24000000        NaN      보석  본  점     2  1.500000

     주말방문비율  구매주기
0  0.527027    17
1  0.000000     1
2  0.000000     1
3  0.318182    16
4  0.000000    85
================================================
   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0
================================================
   cust_id       총구매액     최대구매액        환불금액 주구매상품 주구매지점  내점일수    내점당구매건수  \
0     3500   70900400  22000000   4050000.0    골프  부산본점    13   1.461538
1     3501  310533100  38558000  48034700.0   농산물   잠실점    90   2.433333
2     3502  305264140  14825000  30521000.0  가공식품  본  점   101  14.623762
3     3503    7594080   5225000         NaN  주방용품  부산본점     5   2.000000
4     3504    1795790   1411200         NaN   수산품  청량리점     3   2.666667

     주말방문비율  구매주기
0  0.789474    26
1  0.369863     3
2  0.083277     3
3  0.000000    47
4  0.125000     8

In [3]:
# info에서 파악할 것은 결측치/object 2가지 확인
print(x_train.info()) #환불금액 결측치, 주구매상품,주구매지점(object)
print('================================================')
print(y_train.info()) #결측치, 문자형 없음
print('================================================')
print(x_test.info()) #환불금액 결측치, 주구매상품,주구매지점(object)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   총구매액     3500 non-null   int64
 2   최대구매액    3500 non-null   int64
 3   환불금액     1205 non-null   float64
 4   주구매상품    3500 non-null   object
 5   주구매지점    3500 non-null   object
 6   내점일수     3500 non-null   int64
 7   내점당구매건수  3500 non-null   float64
 8   주말방문비율   3500 non-null   float64
 9   구매주기     3500 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 273.6+ KB
None
================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  3500 non-null   int64
 1   gender   3500 non-null   int64
dtypes: int64(2)
memory usage: 54.8 KB
None
================================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2482 entries, 0 to 2481
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   cust_id  2482 non-null   int64
 1   총구매액     2482 non-null   int64
 2   최대구매액    2482 non-null   int64
 3   환불금액     871 non-null    float64
 4   주구매상품    2482 non-null   object
 5   주구매지점    2482 non-null   object
 6   내점일수     2482 non-null   int64
 7   내점당구매건수  2482 non-null   float64
 8   주말방문비율   2482 non-null   float64
 9   구매주기     2482 non-null   int64
dtypes: float64(3), int64(5), object(2)
memory usage: 194.0+ KB
None

전처리(불필요컬럼 제거, 결측치 제거, object 처리)
- x_train, x_test 동시에 적용해야 함
- cust_id 불필요해보임

In [4]:
x_train = x_train.drop(columns='cust_id')
x_test_cust_id = x_test.pop('cust_id') #결과값 예측을 위해 따로 뺴줘야함
y_train = y_train.drop(columns='cust_id')

In [5]:
x_train = x_train.drop(columns='환불금액')
x_test = x_test.drop(columns='환불금액')

x_train.isna().sum()
x_test.isna().sum()

총구매액       0
최대구매액      0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
dtype: int64

In [6]:
# object 처리
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])

x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])

In [7]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3500 entries, 0 to 3499
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   총구매액     3500 non-null   int64
 1   최대구매액    3500 non-null   int64
 2   주구매상품    3500 non-null   int32
 3   주구매지점    3500 non-null   int32
 4   내점일수     3500 non-null   int64
 5   내점당구매건수  3500 non-null   float64
 6   주말방문비율   3500 non-null   float64
 7   구매주기     3500 non-null   int64
dtypes: float64(2), int32(2), int64(4)
memory usage: 191.5 KB

In [8]:
# 모델 학습시키기
# 분류 모델 : randomforestclassifier, xgbclassifier
# 회귀모델 : randomforestregressor xgbregressor

from sklearn.ensemble import RandomForestClassifier
model1 = RandomForestClassifier()
model1.fit(x_train,y_train)
model1_pred = model1.predict_proba(x_test)

C:\Users\choic\AppData\Local\Temp\ipykernel_29344\414091440.py:7: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model1.fit(x_train,y_train)

In [9]:
from xgboost import XGBClassifier
model2 = XGBClassifier()
model2.fit(x_train,y_train)
model2_pred = model2.predict_proba(x_test)

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(x_train,y_train,test_size = 0.2)

In [17]:
import numpy as np

In [18]:
from sklearn.ensemble import RandomForestClassifier
model3 = RandomForestClassifier()
model3.fit(X_train,np.ravel(Y_train))
model3_pred = model3.predict_proba(X_test)

In [19]:
from sklearn.metrics import roc_auc_score
print(roc_auc_score(Y_test,model3_pred[:,1]))

0.6465734229441836

In [10]:
model1_pred = model1_pred[:,1]
print(model1_pred)

[0.65 0.25 0.47 ... 0.46 0.37 0.56]

In [11]:
pd.DataFrame({'cust_id':x_test_cust_id,'gender':model1_pred}).to_csv('./book/12345.csv',index=False)

In [12]:
pd.read_csv('./book/12345.csv')

      cust_id  gender
0        3500    0.65
1        3501    0.25
2        3502    0.47
3        3503    0.54
4        3504    0.45
...       ...     ...
2477     5977    0.72
2478     5978    0.61
2479     5979    0.46
2480     5980    0.37
2481     5981    0.56

[2482 rows x 2 columns]