1. 4회기출 작업1유형

In [ ]:
import pandas as pd

Q1. age 컬럼의 3사분위수와 1사분위수의 차를 절대값으로 구하고 소수점 버려서 정수로 출력하시오.

In [ ]:
data = pd.read_csv('./basic1.csv')
df = data.copy()
df.head()

In [ ]:
quantile_3 = df['age'].quantile(0.75)
quantile_1 = df['age'].quantile(0.25)
result = quantile_3 - quantile_1
print(abs(int(result)))

Q2. (loves반응+wows반응)/(reactions반응) 비율이 0.4보다 크고 0.5보다 작으면서 status_type == video인 데이터의 개수를 구하시오

In [ ]:
data2 = pd.read_csv('./fb.csv')
df2 = data2.copy()
df2.head()

In [ ]:
df2['react'] = (df2['loves']+df2['wows'])/df2['reactions']
df2.head()

In [ ]:
temp = df2[(df2['react']>0.4) & (df2['react']<0.5)]
temp.head()
video = temp[(df2['type']=='video')]
print(video.shape[0])

Q3. date_added가 2018년 1월 이면서 country가 United Kingdom 단독 제작인 데이터의 개수를 구하시오

In [ ]:
data3 = pd.read_csv('./nf.csv')
df3 = data3.copy()
df3.head()

In [ ]:
df3['date_added'] = pd.to_datetime(df3['date_added'])
df3['year'] = df3['date_added'].dt.year
df3['month'] = df3['date_added'].dt.month

cond1 = df3[df3['country']=='United Kingdom']
cond2 = cond1[cond1['year']==2018]
cond3 = cond2[cond2['month']==1]
print(cond3.shape[0])

In [ ]:
temp = data3.copy()
temp['date_added'] = pd.to_datetime(temp['date_added'])
temp['year'] = temp['date_added'].dt.year
temp['month'] =temp['date_added'].dt.month
temp
result = temp[(temp['year'] == 2018) & (temp['month']==1) & (temp['country']=='United Kingdom')]
print(result.shape[0])

2. 작업2유형

- 자동차 회사는 새로운 전략을 수립하기 위해 4개의 시장으로 세분화했음
- 기존 고객 분류 자료를 바탕으로 신규 고객이 어떤 분류에 속할지 예측하시오
- 예측할 값(y): "Segmentation" (1,2,3,4)
- 평가: Macro f1-score
- data: train.csv, test.csv

In [1]:
import pandas as pd
train_data = pd.read_csv('./4th_train.csv')
test_data = pd.read_csv('./4th_test.csv')

In [2]:
train = train_data.copy()
test = test_data.copy()

In [3]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

train['Gender'] = encoder.fit_transform(train['Gender'])
test['Gender'] = encoder.fit_transform(test['Gender'])

train['Ever_Married'] = encoder.fit_transform(train['Ever_Married'])
test['Ever_Married'] = encoder.fit_transform(test['Ever_Married'])

train['Graduated'] = encoder.fit_transform(train['Graduated'])
test['Graduated'] = encoder.fit_transform(test['Graduated'])

train['Profession'] = encoder.fit_transform(train['Profession'])
test['Profession'] = encoder.fit_transform(test['Profession'])

train['Spending_Score'] = encoder.fit_transform(train['Spending_Score'])
test['Spending_Score'] = encoder.fit_transform(test['Spending_Score'])

train['Var_1'] = encoder.fit_transform(train['Var_1'])
test['Var_1'] = encoder.fit_transform(test['Var_1'])

In [4]:
target = train.pop('Segmentation')
train = train.drop(columns='ID',axis=1)
test_ID = test.pop('ID')

In [5]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(random_state= 10, max_depth=7,n_estimators=500)

In [9]:
rf.fit(train,target)
pred = rf.predict(test)

array([1, 2, 2, ..., 1, 2, 4], dtype=int64)

In [10]:
submit = pd.DataFrame({'ID':test_ID,
                      'Segmentation':pred})
submit

          ID  Segmentation
0     458989             1
1     458994             2
2     459000             2
3     459003             2
4     459005             1
...      ...           ...
2149  467950             1
2150  467954             4
2151  467958             1
2152  467961             2
2153  467968             4

[2154 rows x 2 columns]