# 작업1유형

Q1. 데이터는 현재 년도별 100곡이 인기순으로 정렬되어 있다. 각 년도별 1~100위의 랭킹을 나타내는 rank컬럼을 만들고 매년도 1위의 bpm컬럼의 평균값을 구하여라

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/spotify/spotify.csv')
df.head()

In [ ]:
df['rank'] = (df.index+1) % 100
df['rank'] = df['rank'].replace(0,100)
result = df[df['rank']==1].bpm.mean()
print(result)

Q2. 2015년도에 가장많은 top100곡을 올린 artist는 누구인가?

In [ ]:
df_2015 = df[df['top year']==2015]
result = df_2015['artist'].value_counts().sort_values(ascending=False)
print(result.index[0])

Q3.년도별 rank값이 1~10위 까지의 곡들 중 두번째로 많은 top genre는 무엇인가?

In [ ]:
temp = df[(df['rank']>=1) & (df['rank']<=10)]
result = temp['top genre'].value_counts().sort_values(ascending=False)
print(result.index[1])

Q4. 피처링의 경우 title에 표시된다. 피처링을 가장 많이 해준 가수는 누구인가?

In [ ]:
result = temp['title'].str.split('feat.').str[1]
result.value_counts().sort_values(ascending=False)
print('Bruno Mars')

Q5. top year 년도를 기준으로 발매일(year released)과 top100에 진입한 일자 (top year)가 다른 곡의 숫자를 count 했을때 가장 많은 년도는?

In [ ]:
temp = df[['year released','top year']]
temp = temp.drop_duplicates()
temp['top year'].value_counts()
print('2016')

Q6. artist 컬럼의 값에 대소문자 상관없이 q 단어가 들어가는 아티스트는 몇명인가?

In [ ]:
result = df[df.artist.str.lower().str.contains('q')].artist.nunique()
print(result)

In [ ]:
Q7. 년도 상관없이 전체데이터에서 1~50위와 51~100위간의 dur 컬럼의 평균값의 차이는?

Q7. 년도 상관없이 전체데이터에서 1~50위와 51~100위간의 dur 컬럼의 평균값의 차이는

In [ ]:
cond1 = df[(df['rank']>=1)&(df['rank']<=50)]
cond2 = df[(df['rank']>=51)&(df['rank']<=100)]

In [ ]:
cond3 = cond1['dur'].mean()
cond4 = cond2['dur'].mean()
result = cond3-cond4
print(result)

Q8. title을 띄어쓰기 단어로 구분 했을때 가장 많이 나온 단어는 무엇인가? (대소문자 구분 x)

In [ ]:
result = df.title.str.split('\(feat').str[0].str.split().explode().str.lower().value_counts().index[0]
print(result)

Q9. 년도별 nrgy값의 평균값을 구할때 최대 평균값과 최소 평균값의 차이를 구하여라

In [ ]:
result = df.groupby(['top year']).nrgy.mean().sort_values(ascending=False)
print(result.values[0]-result.values[-1])

Q10. artist중 artist type 타입을 여러개 가지고 있는 artist는 누구인가

In [ ]:
df

In [ ]:
temp = df[['artist','artist type']].value_counts().reset_index()
result = temp['artist'].value_counts()
print(result.index[0])

# 작업2유형

Q. 센서데이터로 동작 유형 분류 (종속변수 pose : 0 ,1 구분)

In [8]:
import pandas as pd
x_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_train.csv")
y_train = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/y_train.csv")
test= pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/muscle/x_test.csv")

In [9]:
x_train.head()

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,0,1.0,-2.0,-1.0,4.0,-5.0,-4.0,1.0,0.0,-15.0,...,0.0,-1.0,-13.0,-3.0,1.0,-1.0,-32.0,-22.0,-2.0,-3.0
1,2,20.0,0.0,0.0,1.0,5.0,6.0,-52.0,18.0,15.0,...,-70.0,-55.0,-38.0,-14.0,-12.0,-8.0,-34.0,-63.0,-87.0,-77.0
2,4,1.0,-1.0,1.0,4.0,-5.0,-8.0,1.0,-3.0,-14.0,...,1.0,12.0,-25.0,0.0,0.0,3.0,2.0,-27.0,1.0,0.0
3,5,13.0,2.0,1.0,-3.0,1.0,3.0,28.0,3.0,12.0,...,0.0,-21.0,-17.0,-2.0,0.0,-4.0,-17.0,-21.0,-21.0,25.0
4,6,-2.0,-7.0,-4.0,-8.0,16.0,44.0,1.0,3.0,-16.0,...,-1.0,2.0,-1.0,1.0,4.0,4.0,-17.0,-38.0,-3.0,3.0

In [10]:
test.head()

,ID,motion_0,motion_1,motion_2,motion_3,motion_4,motion_5,motion_6,motion_7,motion_8,...,motion_54,motion_55,motion_56,motion_57,motion_58,motion_59,motion_60,motion_61,motion_62,motion_63
0,1,-12.0,-7.0,3.0,6.0,-21.0,-28.0,1.0,6.0,-18.0,...,2.0,20.0,-25.0,-2.0,1.0,0.0,12.0,-2.0,-1.0,-4.0
1,3,-9.0,-16.0,-2.0,-1.0,39.0,17.0,3.0,1.0,-9.0,...,0.0,1.0,-1.0,-5.0,-4.0,-7.0,56.0,28.0,1.0,6.0
2,8,-4.0,-1.0,-1.0,1.0,3.0,-1.0,4.0,7.0,3.0,...,-4.0,-8.0,5.0,2.0,0.0,2.0,13.0,-3.0,0.0,4.0
3,10,2.0,1.0,2.0,1.0,-14.0,-2.0,0.0,-3.0,-25.0,...,-1.0,-5.0,12.0,-3.0,-5.0,-9.0,4.0,20.0,-1.0,-4.0
4,17,33.0,-8.0,-4.0,-3.0,-14.0,-6.0,-1.0,0.0,23.0,...,-20.0,-2.0,6.0,2.0,5.0,23.0,2.0,-21.0,-41.0,-23.0

In [11]:
x_train = x_train.drop(columns='ID')
test_id = test.pop('ID')
y = y_train['pose']

In [21]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier

In [13]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score

In [14]:
X_train, X_test, Y_train, Y_test = train_test_split(x_train,y,test_size=0.2,random_state=2022)

In [15]:
rf = RandomForestClassifier(max_depth=5,random_state=2022,n_jobs=10, n_estimators=10)
rf.fit(X_train,Y_train)
pred_rf = rf.predict_proba(X_test)
roc_auc_score(Y_test,pred_rf[:,1])

0.9990974562150554

In [16]:
xgb = XGBClassifier(max_depth=5,eval_metric='error')
xgb.fit(X_train,Y_train)
pred_xgb = xgb.predict_proba(X_test)
roc_auc_score(Y_test,pred_xgb[:,1])

0.9998333765320102

In [25]:
lr = LogisticRegression()
lr.fit(X_train,Y_train)
pred = lr.predict_proba(X_test)
roc_auc_score(Y_test,pred[:,1])

C:\Users\choic\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.5407672085014996

In [18]:
predict = xgb.predict_proba(test)

In [20]:
submission = pd.DataFrame({'ID':test_id,
                          'pose':predict[:,1]})
submission

        ID      pose
0        1  0.999972
1        3  0.999957
2        8  0.998621
3       10  0.999956
4       17  0.000151
...    ...       ...
1158  5786  0.000647
1159  5796  0.000435
1160  5802  0.999933
1161  5811  0.999944
1162  5812  0.000383

[1163 rows x 2 columns]