# 작업1유형

Q1. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 인원을 가진 나이대는? (0~9 : 0 , 10~19 : 10)

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
df.head()
df['age_group'] = df['age']//10*10
result = df['age_group'].value_counts().sort_values(ascending=False)
result
print(result.index[0])

Q2. 마케팅 응답 고객들의 나이를 10살 단위로 변환 했을 때, 가장 많은 나이대 구간의 인원은 몇명인가?

In [ ]:
print(result.values[0])

Q3. 나이가 25살 이상 29살 미만인 응답 고객들중 housing컬럼의 값이 yes인 고객의 수는

In [ ]:
cond1 = df[(df['age']>=25) & (df['age']<29)]
cond2 = cond1[cond1['housing']=='yes']
result = cond2.shape
print(result[0])

Q4. numeric한 값을 가지지 않은 컬럼들중 unique한 값을 가장 많이 가지는 컬럼은?

In [ ]:
temp = df.select_dtypes(exclude=['number'])
temp

print('job:',len(temp['job'].unique()))
print('marital:',len(temp['marital'].unique()))
print('education:',len(temp['education'].unique()))
print('contact:',len(temp['contact'].unique()))
print('month:',len(temp['month'].unique()))
print('poutcome:',len(temp['poutcome'].unique()))

print('[''job'',''month'']')

Q5. balance 컬럼값들의 평균값 이상을 가지는 데이터를 ID값을 기준으로 내림차순 정렬했을때 상위 100개 데이터의 balance값의 평균은?

In [ ]:
temp = df[['balance','ID']]
temp
mean = temp['balance'].mean()

top_100 = temp[(temp['balance']>=mean)].sort_values('ID',ascending=False).head(100)
result = top_100['balance'].mean()
print(result)

Q6.가장 많은 광고를 집행했던 날짜는 언제인가? (데이터 그대로 일(숫자),달(영문)으로 표기)

In [ ]:
temp = df[['day','month']]
result = temp.value_counts().index[0]
print(result)

Q7. 데이터의 job이 unknown 상태인 고객들의 age 컬럼 값의 정규성을 검정하고자 한다. 샤피로 검정의 p-value값을 구하여라

In [ ]:
cond = df[(df['job']=='unknown')]
target = cond['age']
from scipy.stats import shapiro
result = shapiro(target)
print(result[1])

Q8.age와 balance의 상관계수를 구하여라

In [ ]:
corr = df[['age','balance']].corr()
print(corr.iloc[0,1])

Q9. y 변수와 education 변수는 독립인지 카이제곱검정을 통해 확인하려한다. p-value값을 출력하라

In [ ]:
v = pd.crosstab(df['y'],df['education'])
from scipy.stats import chi2_contingency
chi2, p, dof,expected = chi2_contingency(v)
display(v)
print(p)

Q10. 각 job에 따라 divorced/married 인원의 비율을 확인 했을 때 그 값이 가장 높은 값은?

In [ ]:
temp = df[['job','marital']]
cond1 = temp['marital'].value_counts()
cond1

cond2 = temp.groupby(['job'])['marital'].value_counts()
cond2
print('admin:',207/762)
print('blue_color:',205/1775)
print('entrepreneur:',44/272)
print('housemaid:',49/245)
print('management:',323/1580)
print('self-employed:', 39/284)
print('services:',138/584)
print('student:', 0/24)
print('technician:',246/1115)
print('unemployed:',62/219)
print('unknown:',5/58)

print(0.2831050228310502)

In [ ]:
t = df.groupby(['job','marital']).size().reset_index()
pivot = t.pivot_table(index='job',columns='marital')[0]
pivot = pivot.fillna(0)
pivot['ratio'] = pivot['divorced']/pivot['married']

result = pivot.sort_values('ratio',ascending=False)
result['ratio'][0]

# 작업 2유형

Q. 은행의 전화 마케팅에 대해 고객의 반응 여부를 예측하시오

In [7]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/test.csv')
submission= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/bank/submission.csv')

In [12]:
y = train.pop('y')
train = train.drop(columns='ID')
test = test.drop(columns='ID')

In [13]:
train.select_dtypes(include='object')

,job,marital,education,default,housing,loan,contact,month,poutcome
0,technician,single,tertiary,no,no,no,cellular,may,unknown
1,services,single,secondary,no,yes,yes,unknown,jun,unknown
2,management,single,secondary,no,no,no,cellular,aug,unknown
3,technician,married,unknown,no,yes,no,cellular,jul,unknown
4,admin.,single,secondary,no,no,yes,unknown,sep,unknown
...,...,...,...,...,...,...,...,...,...
12865,technician,married,secondary,no,yes,no,cellular,apr,failure
12866,unknown,married,secondary,no,no,no,cellular,nov,failure
12867,unemployed,single,tertiary,no,yes,no,cellular,nov,failure
12868,management,married,tertiary,no,yes,no,unknown,may,unknown
12869,services,single,secondary,no,no,no,unknown,may,unknown

In [15]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [26]:
train['job'] = encoder.fit_transform(train['job'])
test['job'] = encoder.fit_transform(test['job'])

train['marital'] = encoder.fit_transform(train['marital'])
test['marital'] = encoder.fit_transform(test['marital'])

train['education'] = encoder.fit_transform(train['education'])
test['education'] = encoder.fit_transform(test['education'])

train['default'] = encoder.fit_transform(train['default'])
test['default'] = encoder.fit_transform(test['default'])

train['housing'] = encoder.fit_transform(train['housing'])
test['housing'] = encoder.fit_transform(test['housing'])

train['loan'] = encoder.fit_transform(train['loan'])
test['loan'] = encoder.fit_transform(test['loan'])

train['contact'] = encoder.fit_transform(train['contact'])
test['contact'] = encoder.fit_transform(test['contact'])

train['month'] = encoder.fit_transform(train['month'])
test['month'] = encoder.fit_transform(test['month'])

train['poutcome'] = encoder.fit_transform(train['poutcome'])
test['poutcome'] = encoder.fit_transform(test['poutcome'])

In [28]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

In [33]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(train,y,test_size=0.2)

In [34]:
import numpy as np

In [36]:
rf = RandomForestClassifier(max_depth=10, n_jobs=10, random_state=100)
rf.fit(x_train,np.ravel(y_train))
rf_pred = rf.predict_proba(x_test)
roc_auc_score(y_test,rf_pred[:,-1])

0.7987050853271589

In [41]:
predict = rf.predict_proba(test)
predict[:,1]

array([0.72919102, 0.53192577, 0.10139401, ..., 0.24275548, 0.45116805,
       0.13632057])

In [44]:
submission['predict'] = predict[:,1]
submission

         ID   predict
0     53608  0.729191
1     51055  0.531926
2     52573  0.101394
3     50458  0.132392
4     52272  0.309581
...     ...       ...
4286  50332  0.233283
4287  51293  0.751377
4288  54023  0.242755
4289  53775  0.451168
4290  51945  0.136321

[4291 rows x 2 columns]