# 작업 1유형

Q1. 성별이 Male인 환자들의 age의 평균값은 ?

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

In [ ]:
df['age'] = df['age'].str.replace('*','')
df['age'] = df['age'].astype('int')

df.head()
temp = df[(df['gender']=='Male')]
print(temp['age'].mean())

Q2. bmi컬럼의 결측치를 bmi컬럼의 결측치를 제외한 나머지 값들의 중앙값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [ ]:
temp = df.dropna()
cond1 = temp['bmi'].median()
print(cond1)

df['bmi'] = df['bmi'].fillna(28.5)
cond2 = df['bmi'].mean()
print(round(cond2,3))

Q3. bmi컬럼의 각 결측치들을 직전의 행의 bmi값으로 채웠을 경우 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

In [ ]:
df['bmi'] = df['bmi'].fillna(method='ffill')
result = df['bmi'].mean()
print(round(result,3))

Q4. bmi컬럼의 각 결측치들을 결측치를 가진 환자 나이대(10단위)의 평균 bmi 값으로 대체한 후 대체된 bmi 컬럼의 평균을 소숫점 이하 3자리 까지 구하여라

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
# Noise 데이터 int형 변환
df['age'] = df['age'].str.replace('*','').astype('int')

# 결측치 제외 나이대별 평균값 계산 및 dictionary 형태로 변환
mean = df[df.bmi.notnull()].groupby(df.age//10 *10).bmi.mean()
dic = { x:y for x,y in mean.items()}


idx =df.loc[df.bmi.isnull(),['age','bmi']].index
# 결측치 매핑
df.loc[df.bmi.isnull(),'bmi']  =(df[df.bmi.isnull()].age//10*10).map(lambda x : dic[x])

result = df.bmi.mean()
print(result)

Q5. avg_glucose_level 컬럼의 값이 200이상인 데이터를 모두 199로 변경하고 stroke값이 1인 데이터의 avg_glucose_level값의 평균을 소수점이하 3자리 까지 구하여라

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')

In [ ]:
df.loc[df.avg_glucose_level >=200,'avg_glucose_level'] =199
result = round(df[df.stroke ==1].avg_glucose_level.mean(),3)
print(result)

In [ ]:
df.loc[df['avg_glucose_level']>=200,'avg_glucose_level'] =199
cond = df[df['stroke']==1]
result = cond['avg_glucose_level'].mean()
print(round(result,3))

Q6.Attack컬럼의 값을 기준으로 내림차순정렬 했을때 상위 400위까지 포켓몬들과 401~800위까지의 포켓몬들에서 전설포켓몬(Legendary컬럼)의 숫자 차이는?

In [ ]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv')
df.head()

temp = df.sort_values('Attack',ascending=False)
temp

cond1 = temp.iloc[:400]
cond2 = temp.iloc[400:]

print(cond1['Legendary'].value_counts())
print(cond2['Legendary'].value_counts())
print(61-4)

Q7.Type 1 컬럼의 종류에 따른 Total 컬럼의 평균값을 내림차순 정렬했을때 상위 3번째 Type 1은 무엇인가?

In [ ]:
result = df.groupby(['Type 1']).Total.mean().sort_values(ascending=False)
print(result.index[2])

Q8.결측치가 존재하는 행을 모두 지운 후 처음부터 순서대로 60% 데이터를 추출하여 Defense컬럼의 1분위수를 구하여라

In [ ]:
df.dropna()
temp = df.iloc[:248]
result = temp['Defense'].quantile(0.25)
print(result)

Q9. Type 1 컬럼의 속성이 Fire인 포켓몬들의 Attack의 평균이상인 Water속성의 포켓몬 수를 구하여라

In [ ]:
temp = df[['Type 1','Attack']]
cond1 = temp[(temp['Type 1']=='Fire')]
cond1_mean = cond1['Attack'].mean()
cond1_mean

cond2 = temp[(temp['Type 1']=='Water')&(df['Attack']>=cond1_mean)]
print(cond2.shape[0])

Q10. 각 세대 중(Generation 컬럼)의 Speed와 Defense 컬럼의 차이(절댓값)이 가장 큰 세대는?

In [ ]:
temp = df[['Generation','Speed','Defense']]
temp['new'] = abs(df['Speed'] - df['Defense'])
result = temp.groupby(['Generation']).new.mean().sort_values(ascending=False)
print(result.index[0])

# 작업2유형

Q. 뇌졸증 발생여부를 예측하시오

In [1]:
import pandas as pd
train= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/train.csv')
test= pd.read_csv('https://raw.githubusercontent.com/Datamanim/datarepo/main/stroke_/test.csv')

In [2]:
train

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1192,Female,31,0,0,No,Govt_job,Rural,70.66,27.2,never smoked,0
1,77,Female,13,0,0,No,children,Rural,85.81,18.6,Unknown,0
2,59200,Male,18,0,0,No,Private,Urban,60.56,33.0,never smoked,0
3,24905,Female,65,0,0,Yes,Private,Urban,205.77,46.0,formerly smoked,1
4,24257,Male,4,0,0,No,children,Rural,90.42,16.2,Unknown,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1132,18205,Female,1,0,0,No,children,Rural,110.17,20.3,Unknown,0
1133,13622,Male,6,0,0,No,children,Rural,92.98,18.9,Unknown,0
1134,59749,Male,81,0,0,Yes,Private,Urban,234.35,25.3,formerly smoked,0
1135,12109,Female,81,1,0,Yes,Private,Rural,80.43,29.7,never smoked,1
1136,5731,Female,57,1,0,Yes,Private,Urban,108.61,38.1,smokes,0

In [3]:
y = train['stroke']

In [4]:
train = train.drop(columns=['id','stroke'])

In [5]:
mean = train['bmi'].mean()
mean2 = test['bmi'].mean()

train['bmi'] = train['bmi'].fillna(mean)
test['bmi'] = test['bmi'].fillna(mean2)

In [6]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1137 entries, 0 to 1136
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gender             1137 non-null   object
 1   age                1137 non-null   object
 2   hypertension       1137 non-null   int64
 3   heart_disease      1137 non-null   int64
 4   ever_married       1137 non-null   object
 5   work_type          1137 non-null   object
 6   Residence_type     1137 non-null   object
 7   avg_glucose_level  1137 non-null   float64
 8   bmi                1137 non-null   float64
 9   smoking_status     1137 non-null   object
dtypes: float64(2), int64(2), object(6)
memory usage: 89.0+ KB

In [7]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [8]:
train['gender'] = encoder.fit_transform(train['gender'])
test['gender'] = encoder.fit_transform(test['gender'])

train['age'] = encoder.fit_transform(train['age'])
test['age'] = encoder.fit_transform(test['age'])

train['ever_married'] = encoder.fit_transform(train['ever_married'])
test['ever_married'] = encoder.fit_transform(test['ever_married'])

train['work_type'] = encoder.fit_transform(train['work_type'])
test['work_type'] = encoder.fit_transform(test['work_type'])

train['Residence_type'] = encoder.fit_transform(train['Residence_type'])
test['Residence_type'] = encoder.fit_transform(test['Residence_type'])

train['smoking_status'] = encoder.fit_transform(train['smoking_status'])
test['smoking_status'] = encoder.fit_transform(test['smoking_status'])

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train, x_test, y_train, y_test = train_test_split(train,y,test_size=0.2)

In [11]:
from sklearn.ensemble import RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.metrics import roc_auc_score

In [12]:
rf = RandomForestClassifier(max_depth=5, random_state=100)
rf.fit(x_train,y_train)
rf_pred = rf.predict_proba(x_test)
roc_auc_score(y_test,rf_pred[:,-1])

0.8382352941176471

In [13]:
xgb = XGBClassifier(max_depth=15, eval_metric ='error', n_jobs=10, random_state =2000)
xgb.fit(x_train,y_train)
xgb_pred = xgb.predict_proba(x_test)
roc_auc_score(y_test,xgb_pred[:,-1])

0.7859477124183006

In [14]:
test_id = test.pop('id')

In [15]:
predict = rf.predict_proba(test)

In [17]:
submission = pd.DataFrame({'id':test_id,
                          'stroke':predict[:,1]})
submission

        id    stroke
0    47472  0.141856
1    36841  0.381376
2     3135  0.211275
3    65218  0.000837
4     1847  0.020649
..     ...       ...
927  40311  0.132455
928  44281  0.030701
929  11238  0.060971
930  17308  0.436753
931  24782  0.071417

[932 rows x 2 columns]