In [2]:
import pandas as pd

In [3]:
data1 = pd.read_csv('./case1_no1.csv')
data2 = pd.read_csv('./case1_no2.csv')
data3 = pd.read_csv('./case1_no3.csv')
data4 = pd.read_csv('./case2_no1.csv')

1. Feature 상위 10개 값을 10번째 값으로 대체한 후, Feature2 80이상인 데이터만 추출해서 Feature1 평균 구하기

In [14]:
df = data1.copy()
df.head()

df = df.sort_values(by='Feature1',ascending=False).reset_index(drop=True)
df.head()

df.loc[9]

df.loc[0:9,'Feature1'] = df.loc[9,'Feature1']
df.head()

df['Feature2']>=80

df2 = df[df['Feature2']>=80]
df2 = df2['Feature1']
df2

result = df2.mean()
print(result)

5.9123684210526335

2. Feature2 상위 80% 데이터를 학습 데이터셋으로 생성한 후 Feature1의 결측치를 Feature1의 중앙값으로 대체하고 대체 전후의 표준편차 차이를 구하시오.(80%는 반올림하여 개수 추출)

In [34]:
df = data2.copy()
df.head()
df = df.sort_values(by='Feature2',ascending=False)
df

     Feature1  Feature2
82        NaN    171.50
78      23.97    143.70
23        NaN    137.20
4         NaN    135.10
1       17.77    132.90
..        ...       ...
68      17.33     58.79
61      20.98     54.66
59      11.79     54.34
46      16.84     51.71
101     13.43     43.79

[105 rows x 2 columns]

In [37]:
df = df.iloc[:84]
df.shape

df['Feature1'].std()

(84, 2)

In [42]:
median = df['Feature1'].median()
median

20.52

In [43]:
df_new = df['Feature1'].fillna(20.25)
df_new

82     20.25
78     23.97
23     20.25
4      20.25
1      17.77
       ...
48     14.63
31     18.70
96     17.84
3      20.38
102    20.52
Name: Feature1, Length: 84, dtype: float64

In [52]:
old_std = df['Feature1'].std()
new_std = df_new.std()
result = old_std - new_std
print(result)

0.4153597732833436

3. Feature1의 이상치를 구하고 이들의 합계를 구하시오(이상치 = 평균으로부터 표준편차 *1.5 벗어난 값)

In [65]:
df = data3.copy()
df.head()

outlier_lower = df['Feature1'].mean() - df['Feature1'].std()*1.5
outlier_upper = df['Feature1'].mean() + df['Feature1'].std()*1.5

df_lower = df[df['Feature1']<outlier_lower]
df_upper = df[df['Feature1']>outlier_upper]

lower = df_lower['Feature1'].sum()
upper = df_upper['Feature1'].sum()
result = lower + upper 
print(result)

174.68