고객 3,500명 데이터를 이용하여 성별 예측 모형을 만든 후 2,482명 고객의 성별이 남자일 확률을 구하시오.

In [1]:
import pandas as pd
x_train = pd.read_csv('./book/x_train.csv',encoding = 'cp949')
y_train = pd.read_csv('./book/y_train.csv',encoding = 'cp949')
x_test = pd.read_csv('./book/x_test.csv',encoding = 'cp949')

In [2]:
x_train.head()

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,0,68282840,11264000,6860000.0,기타,강남점,19,3.894737,0.527027,17
1,1,2136000,2136000,300000.0,스포츠,잠실점,2,1.500000,0.000000,1
2,2,3197000,1639000,NaN,남성 캐주얼,관악점,2,2.000000,0.000000,1
3,3,16077620,4935000,NaN,기타,광주점,18,2.444444,0.318182,16
4,4,29050000,24000000,NaN,보석,본 점,2,1.500000,0.000000,85

In [3]:
x_test.head()

,cust_id,총구매액,최대구매액,환불금액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기
0,3500,70900400,22000000,4050000.0,골프,부산본점,13,1.461538,0.789474,26
1,3501,310533100,38558000,48034700.0,농산물,잠실점,90,2.433333,0.369863,3
2,3502,305264140,14825000,30521000.0,가공식품,본 점,101,14.623762,0.083277,3
3,3503,7594080,5225000,NaN,주방용품,부산본점,5,2.000000,0.000000,47
4,3504,1795790,1411200,NaN,수산품,청량리점,3,2.666667,0.125000,8

In [4]:
y_train.head()

   cust_id  gender
0        0       0
1        1       0
2        2       1
3        3       1
4        4       0

In [5]:
x_train.isna().sum()

cust_id       0
총구매액          0
최대구매액         0
환불금액       2295
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [6]:
x_test.isna().sum()

cust_id       0
총구매액          0
최대구매액         0
환불금액       1611
주구매상품         0
주구매지점         0
내점일수          0
내점당구매건수       0
주말방문비율        0
구매주기          0
dtype: int64

In [7]:
x_train = x_train.fillna(0)

In [8]:
x_train.isna().sum()

cust_id    0
총구매액       0
최대구매액      0
환불금액       0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
dtype: int64

In [9]:
x_test = x_test.fillna(0)
x_test.isna().sum()

cust_id    0
총구매액       0
최대구매액      0
환불금액       0
주구매상품      0
주구매지점      0
내점일수       0
내점당구매건수    0
주말방문비율     0
구매주기       0
dtype: int64

In [10]:
x_train.describe()

,cust_id,총구매액,최대구매액,환불금액,내점일수,내점당구매건수,주말방문비율,구매주기
count,3500.000000,3.500000e+03,3.500000e+03,3.500000e+03,3500.000000,3500.000000,3500.000000,3500.000000
mean,1749.500000,9.191925e+07,1.966424e+07,8.289786e+06,19.253714,2.834963,0.307246,20.958286
std,1010.507298,1.635065e+08,3.199235e+07,3.010204e+07,27.174942,1.912368,0.289752,24.748682
min,0.000000,-5.242152e+07,-2.992000e+06,0.000000e+00,1.000000,1.000000,0.000000,0.000000
25%,874.750000,4.747050e+06,2.875000e+06,0.000000e+00,2.000000,1.666667,0.027291,4.000000
50%,1749.500000,2.822270e+07,9.837000e+06,0.000000e+00,8.000000,2.333333,0.256410,13.000000
75%,2624.250000,1.065079e+08,2.296250e+07,2.642250e+06,25.000000,3.375000,0.448980,28.000000
max,3499.000000,2.323180e+09,7.066290e+08,5.637530e+08,285.000000,22.083333,1.000000,166.000000

In [11]:
x_train['주구매상품'].unique()

array(['기타', '스포츠', '남성 캐주얼', '보석', '디자이너', '시티웨어', '명품', '농산물', '화장품',
       '골프', '구두', '가공식품', '수산품', '아동', '차/커피', '캐주얼', '섬유잡화', '육류',
       '축산가공', '젓갈/반찬', '액세서리', '피혁잡화', '일용잡화', '주방가전', '주방용품', '건강식품',
       '가구', '주류', '모피/피혁', '남성 트랜디', '셔츠', '남성정장', '생활잡화', '트래디셔널',
       '란제리/내의', '커리어', '침구/수예', '대형가전', '통신/컴퓨터', '식기', '소형가전', '악기'],
      dtype=object)

In [12]:
x_train['주구매지점'].unique()

array(['강남점', '잠실점', '관악점', '광주점', '본  점', '일산점', '대전점', '부산본점', '분당점',
       '영등포점', '미아점', '청량리점', '안양점', '부평점', '동래점', '포항점', '노원점', '창원점',
       '센텀시티점', '인천점', '대구점', '전주점', '울산점', '상인점'], dtype=object)

In [13]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

In [14]:
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
print(x_train['주구매상품'])

0        5
1       21
2        6
3        5
4       15
        ..
3495     3
3496    22
3497    32
3498    41
3499     5
Name: 주구매상품, Length: 3500, dtype: int32

In [15]:
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])
print(x_test['주구매상품'])

0        3
1        9
2        0
3       31
4       19
        ..
2477     3
2478    17
2479     6
2480    26
2481     0
Name: 주구매상품, Length: 2482, dtype: int32

In [16]:
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
print(x_train['주구매지점'])

0        0
1       19
2        1
3        2
4        8
        ..
3495     8
3496     9
3497    21
3498     8
3499     8
Name: 주구매지점, Length: 3500, dtype: int32

In [17]:
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])
print(x_test['주구매지점'])

0        9
1       19
2        8
3        9
4       22
        ..
2477     9
2478     2
2479     8
2480     8
2481    15
Name: 주구매지점, Length: 2482, dtype: int32

In [18]:
condition = x_train['환불금액'] > 0
x_train.loc[condition,'환불금액_new'] = 1
x_train.loc[~condition,'환불금액_new'] = 0
x_train = x_train.drop(columns =['환불금액'])

In [19]:
condition = x_test['환불금액'] > 0
x_test.loc[condition,'환불금액_new'] = 1
x_test.loc[~condition,'환불금액_new'] = 0
x_test = x_test.drop(columns =['환불금액'])

In [20]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [21]:
x_train = pd.DataFrame(scaler.fit_transform(x_train),columns=x_train.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test),columns=x_test.columns)

In [22]:
x_train.corr()

,cust_id,총구매액,최대구매액,주구매상품,주구매지점,내점일수,내점당구매건수,주말방문비율,구매주기,환불금액_new
cust_id,1.000000,-0.008004,-0.005883,0.003129,0.006345,-0.025234,-0.004840,0.001900,0.020070,-0.013090
총구매액,-0.008004,1.000000,0.700080,-0.082916,-0.038724,0.659084,0.090022,0.014396,-0.212944,0.403357
최대구매액,-0.005883,0.700080,1.000000,-0.090729,-0.024819,0.374147,0.018980,0.022277,-0.115837,0.330687
주구매상품,0.003129,-0.082916,-0.090729,1.000000,0.015874,-0.185275,-0.274178,-0.010018,0.032469,-0.121414
주구매지점,0.006345,-0.038724,-0.024819,0.015874,1.000000,-0.059570,-0.080804,0.011990,0.035344,-0.061974
내점일수,-0.025234,0.659084,0.374147,-0.185275,-0.059570,1.000000,0.225264,-0.010325,-0.293200,0.498958
내점당구매건수,-0.004840,0.090022,0.018980,-0.274178,-0.080804,0.225264,1.000000,0.007659,-0.091151,0.063000
주말방문비율,0.001900,0.014396,0.022277,-0.010018,0.011990,-0.010325,0.007659,1.000000,0.003372,-0.008775
구매주기,0.020070,-0.212944,-0.115837,0.032469,0.035344,-0.293200,-0.091151,0.003372,1.000000,-0.204851
환불금액_new,-0.013090,0.403357,0.330687,-0.121414,-0.061974,0.498958,0.063000,-0.008775,-0.204851,1.000000

In [23]:
x_train[['총구매액','최대구매액','환불금액_new']].corr()

              총구매액     최대구매액  환불금액_new
총구매액      1.000000  0.700080  0.403357
최대구매액     0.700080  1.000000  0.330687
환불금액_new  0.403357  0.330687  1.000000

In [24]:
x_train = x_train.drop(columns=['최대구매액'])
x_test = x_test.drop(columns=['최대구매액'])

데이터 학습시키기

In [25]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()

In [26]:
model.fit(x_train,y_train)

DecisionTreeClassifier()

In [27]:
y_test_predicted = model.predict(x_test)
pd.DataFrame(y_test_predicted)

         0  1
0     3161  1
1       27  0
2      164  0
3     1765  1
4      813  0
...    ... ..
2477  3480  0
2478  1659  0
2479  3215  0
2480  1413  1
2481  3459  1

[2482 rows x 2 columns]

In [28]:
model = DecisionTreeClassifier(max_depth=10,criterion='entropy',random_state=10)
model.fit(x_train,y_train)
y_test_predicted = model.predict(x_test)
pd.DataFrame(y_test_predicted)

         0  1
0      366  0
1      210  0
2      414  1
3      413  0
4       70  0
...    ... ..
2477  1975  1
2478  2244  0
2479   291  0
2480   959  0
2481  1110  1

[2482 rows x 2 columns]

In [29]:
y_test_proba = model.predict_proba(x_test)

라이브러리 및 데이터 불러오기

In [31]:
import pandas as pd
x_train = pd.read_csv('./book/x_train.csv',encoding = 'cp949')
y_train = pd.read_csv('./book/y_train.csv',encoding = 'cp949')
x_test = pd.read_csv('./book/x_test.csv',encoding = 'cp949')

In [32]:
x_test_cust_id = x_test['cust_id']

In [33]:
x_train = x_train.drop(columns=['cust_id'])
y_train = y_train.drop(columns=['cust_id'])
x_test = x_test.drop(columns=['cust_id'])

In [34]:
x_train['환불금액'] = x_train['환불금액'].fillna(0)
x_test['환불금액'] = x_test['환불금액'].fillna(0)

LabelEncoding

In [35]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
x_train['주구매상품'] = encoder.fit_transform(x_train['주구매상품'])
x_test['주구매상품'] = encoder.fit_transform(x_test['주구매상품'])
x_train['주구매지점'] = encoder.fit_transform(x_train['주구매지점'])
x_test['주구매지점'] = encoder.fit_transform(x_test['주구매지점'])

In [36]:
condition = x_train['환불금액'] > 0
x_train.loc[condition,'환불금액_new'] = 1
x_train.loc[~condition,'환불금액_new'] = 0
x_test.loc[condition,'환불금액_new'] = 1
x_test.loc[~condition,'환불금액_new'] = 0
x_train = x_train.drop(columns=['환불금액'])
x_test = x_test.drop(columns=['환불금액'])

In [37]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

In [38]:
x_train = pd.DataFrame(scaler.fit_transform(x_train),columns = x_train.columns)
x_test = pd.DataFrame(scaler.fit_transform(x_test),columns = x_test.columns)

In [39]:
x_train = x_train.drop(columns=['최대구매액'])
x_test = x_test.drop(columns=['최대구매액'])

In [40]:
from sklearn.model_selection import train_test_split
X_TRAIN, X_TEST, Y_TRAIN, Y_TEST = train_test_split(x_train,y_train,test_size = 0.2, random_state=10)

In [43]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth =10, criterion='entropy',random_state=10)
model.fit(X_TRAIN,Y_TRAIN)
y_test_proba = model.predict_proba(x_test)

In [47]:
from sklearn.metrics import roc_auc_score
Y_TEST_PREDICTED = model.predict(X_TEST)
print(roc_auc_score(Y_TEST,Y_TEST_PREDICTED))

0.5771332492643968

In [44]:
result = pd.DataFrame(y_test_proba)[1]
final = pd.concat([x_test_cust_id,result],axis=1).rename(columns={1:'gender'})
final.to_csv('./book/submit.csv',index=False)

In [45]:
pd.read_csv('./book/submit.csv')

      cust_id    gender
0        3500  0.000000
1        3501  0.194215
2        3502  0.000000
3        3503  0.267857
4        3504  1.000000
...       ...       ...
2477     5977  1.000000
2478     5978  1.000000
2479     5979  0.000000
2480     5980  0.285714
2481     5981  0.000000

[2482 rows x 2 columns]